* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #fff;
}

ul, ol {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 6vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vh;
    width: 100vw;
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 4vh;
}

.input {
    width: 30vw;
}

.carousel {
    width: 35vw;
}

.carousel-item {
    width: 30vw;
}